<style>
    html,body{
        overflow-x: hidden;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-3 position-fixed bg-dark" style="height: 100vh;">
        <%- include('../partials/dashboardNavbar.ejs') -%>
        <nav
            class="nav justify-content-center text-light w-100"
        >
        <div class="conatiner-fluid border-top w-100" id="sellerReqNav">
            <a class="nav-link  text-decoration-none text-light"  aria-current="page"><i class="bi bi-mailbox2  p-1"></i>Manage Sellers</a>
        </div>
        <div class="conatiner-fluid border-top w-100" id="getProductsNav">
            <a class="nav-link  text-decoration-none text-light"  aria-current="page"><i class="bi bi-cart-fill p-1"></i>Manage Products</a>
        </div>
        <div class="conatiner-fluid border-top w-100" id="getSellersReportNav">
            <a class="nav-link  text-decoration-none text-light"  aria-current="page"><i class="bi bi-person-badge p-1"></i>Sellers Report</a>
        </div>
        <div class="conatiner-fluid border-top w-100" id="getBuyersReportNav">
            <a class="nav-link  text-decoration-none text-light"  aria-current="page"><i class="bi bi-person-lines-fill p-1"></i>Buyers Report</a>
        </div>
        <div class="conatiner-fluid border-top w-100" id="addNewAdminNav">
            <a class="nav-link  text-decoration-none text-light"  aria-current="page"><i class="bi bi-person-plus-fill p-1"></i>Add New Admin</a>
        </div>
        <div class="conatiner-fluid border-top w-100" style="margin-top: 50vh;">
            <a class="nav-link  text-decoration-none text-light" href="/logout" aria-current="page"><i class="bi bi-person-fill-slash p-1"></i>Logout</a>
        </div>
        </nav>
    </div>
    <div class="col-lg-10 col-md-3 " id="mainContentDiv" style="margin-left: 18%; "></div>
    <div class="col-lg-10 col-md-3 " style="display: none; margin-left: 18%;" id="newAdminFormDiv">
        <%- include('../static/addNewAdmin.ejs') -%>
    </div>
</div>
<script src="js/adminDashboard.js"></script>