<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container m-lg-5 m-sm-1 m-md-2 end-25 top-10 text-light position-absolute w-50">
        <h1 class="text-center m-lg-3 m-md-2 m-sm-1">Forgot Password</h1>
        <form id="forgotPasswordForm" enctype="multipart/form-data">
            <div class="mb-3">
                <input
                    type="email"
                    class="form-control"
                    name="emailId"
                    id="emailId"
                    placeholder="Enter your email address"
                    required
                />
            </div>
            <button
                type="submit"
                class="btn btn-outline-success"
            >
                Send Link
            </button>
        </form>
    </div>
    <script>
        let forgotForm = document.getElementById('forgotPasswordForm')
        forgotForm.addEventListener('submit',(event)=>{
            event.preventDefault()
            let emailId = document.getElementById('emailId').value
            fetch('/sendLink',{
                method:'post',
                headers:{
                    'Content-type':'application/json'
                },
                body:JSON.stringify({emailId:emailId})
            })
            .then(response=>{
                if(response.status==200){
                    alert('Link has been sent to your email address.\nKindly change your password')
                    location.href='/'
                }
                else if(response.status==404){
                    alert('Email address is not registerd')
                }
                else{
                    alert('Internal Error\nPlease try again')
                    location.href='/'
                }
            })
            .catch(error=>console.log(error))
            })
    </script>
</body>
</html>